HELP.md
build
mvnw
target
bin
*.classpath
*.project
*.settings
*.iml
*.ipr
*.iws
*.idea
*.log
*.mvn
*.cmd
*.DS_Store
Thumbs.db



/src/main/resources/credentials.properties
/ru.test.avito.domain.Advert/
